@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: rgba(215, 215, 215, 1);
}

.react-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 30%;
  height: 380px;
  margin-left: 28%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: -18px 22px 45px rgba(232, 28, 66, .89), 30px -20px 100px -5px #152cc1;
}

.calculator {
  display: block;

}

.heads {
  margin-top: -8px;

}

.input input {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 15px;
}

.button {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 15px;

}

.button button {
  width: 40px;
  height: 40px;
  background-color: black;
  color: #FFFFFF;
  font-size: 15px;
  border: none;
}


.result {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 18px;
}

.result .success {
  margin-bottom: 20px;
  margin-left: 70px;
  
}
.result .error{
  margin-bottom: 20px;
  margin-left: 95px;
}

.success {
  color: #0057FF;
  font-size: 20px;
  font-weight: 900;
}
.success1{
  font-size: 20px;
  font-weight: 900;
}

.error{
  color: red;
  font-size: 20px;
  font-weight: 900;
  
}
.error1{
  font-size: 20px;
  font-weight: 900;
}
